{% extends 'CFO/Index.html' %}
{% load static %}

{% block title %}
<title>Chart of Accounts</title>
{% endblock %}

{% block content %}
<hr>
<!-- /* --------------------------------Input Accounts --------------------------------*/ -->
<ul>
    <li>Account Category: <input type="text"></li>
    <li>Account Name: <input type="text"></li>
    <li>To-Increase: <input type="text"></li>
    <li>Account Description: <input type="text"></li>
</ul><hr>
<!-- /* --------------------------------Input Accounts --------------------------------*/ -->



<!-- /* --------------------------------Chart of Accounts Display --------------------------------*/ -->
<table>
    <thead>
        <th>Number</th>
        <th>Account Name</th>
        <th>To-Increase</th>
        <th>Account Category</th>
        <th>Account Description</th>
    </thead>

    <tbody>

    </tbody>
</table>
<!-- /* --------------------------------Chart of Accounts Display --------------------------------*/ -->
{% endblock %}