{% extends 'CFO/Index.html' %}
{% load static %}

{% block title %}
<title>Chart of Accounts</title>
{% endblock %}

{% block content %}
<hr>
<!-- /* --------------------------------Input Accounts --------------------------------*/ -->
<table>
    <tbody>
        <tr>
            <td>Account Category:</td>
            <td><input type="text"></td>
        </tr>

        <tr>
            <td>Account Name:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>To-Increase:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Account Description</td>
            <td><textarea name="description" rows="4" cols="50"></textarea></td>
        </tr>
    </tbody>
</table>
<hr>
<!-- /* --------------------------------Input Accounts --------------------------------*/ -->



<!-- /* --------------------------------Chart of Accounts Display --------------------------------*/ -->
<table>
    <thead>
        <th>Number</th>
        <th>Account Name</th>
        <th>To-Increase</th>
        <th>Account Category</th>
        <th>Account Description</th>
    </thead>

    <tbody>

    </tbody>
</table>
<!-- /* --------------------------------Chart of Accounts Display --------------------------------*/ -->
{% endblock %}