{% extends 'CFO/Index.html' %}
{% load static %}

{% block title %}
<title>Journal Entry</title>
{% endblock %}

{% block content %}
<hr>
<button id="addDebitedAccountBtn" type="button">Add Debited Account</button>
<button id="addCreditedAccountBtn" type="button">Add Credited Account</button>
<!-- /* --------------------------------Input Accounts --------------------------------*/ -->
<form method="POST" action="{% url 'addJournalEntry' %}">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>Delete</th>
                <th>Accounts</th>
                <th>Dr. Amount</th>
                <th>Cr. Amount</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody id="debit">
        </tbody>
        <tfoot id="credit">

        </tfoot>
    </table>
    <br>
    <button type="submit" onclick="submitForm()">Add Transaction</button>
    <input type="hidden" id="debitJSON" name="debitJSON">
    <input type="hidden" id="creditJSON" name="creditJSON">
</form>
<hr>
<!-- /* --------------------------------Journal Entries Display --------------------------------*/ -->
<table>
    <thead>
        <tr>
            <th>Journal ID</th>
            <th>Date</th>
            <th>General Journal</th>
            <th>Debit</th>
            <th>Credit</th>
        </tr>
    </thead>
    <tbody>
        <!-- Journal entry rows will be displayed here -->
    </tbody>
</table>
<!-- /* --------------------------------Journal Entries Display --------------------------------*/ -->

<script>
    // Global arrays for debited and credited accounts
var debitedAccounts = [];
var creditedAccounts = [];
var debitAmounts = [];
var creditAmounts = [];
var debitedAccountsDict = {};
var creditedAccountsDict = {};
var previousDebitedAccount = null;

function removeRow(button) {
  var row = button.parentNode.parentNode;
  var accountSelect = row.querySelector(".account-select");
  var debitAmountInput = row.querySelector("input[name='debit_amount']");
  var creditAmountInput = row.querySelector("input[name='credit_amount']");
  var category = "";

  // Check if the row is a debited or credited account
  if (debitAmountInput) {
    // Debit account
    category = "Debit";
    var index = debitedAccounts.indexOf(accountSelect.value);
    if (index > -1) {
      debitedAccounts.splice(index, 1);
    }
  } else if (creditAmountInput) {
    // Credit account
    category = "Credit";
    var index = creditedAccounts.indexOf(accountSelect.value);
    if (index > -1) {
      creditedAccounts.splice(index, 1);
    }
  }

  row.parentNode.removeChild(row);

  // Debugging: Log the removed account and its category
  console.log("Removed", category, "account:", accountSelect.value);
}

function addDebitedAccount() {
  var tableBody = document.getElementById("debit");
  var newRow = document.createElement("tr");

  var deleteCell = document.createElement("td");
  var deleteButton = document.createElement("button");
  deleteButton.innerText = "Delete";
  deleteButton.addEventListener("click", function() {
    removeRow(this);
  });
  deleteCell.appendChild(deleteButton);
  newRow.appendChild(deleteCell);

  var accountsCell = document.createElement("td");
  var accountsSelect = document.createElement("select");
  accountsSelect.classList.add("account-select");
  accountsSelect.innerHTML = `<option value="" disabled selected>Select an Account to Debit</option>{% for x in Account %}<option value="{{x.pk}}">{{ x.AccountName }}</option>{% endfor %}`;
  accountsCell.appendChild(accountsSelect);
  newRow.appendChild(accountsCell);

  var debitCell = document.createElement("td");
  var debitInput = document.createElement("input");
  debitInput.setAttribute("type", "text");
  debitInput.classList.add("debit-amount");
  debitCell.appendChild(debitInput);
  newRow.appendChild(debitCell);

  var creditCell = document.createElement("td");
  creditCell.innerHTML = "&nbsp;";
  newRow.appendChild(creditCell);

  tableBody.appendChild(newRow);

  // Add event listener to account select element
  accountsSelect.addEventListener("change", function(event) {
    var selectedAccount = parseFloat(event.target.value);
    var rowIndex = Array.from(tableBody.children).indexOf(event.target.parentNode.parentNode);
    debitedAccounts[rowIndex] = selectedAccount;
    console.log("Debited Accounts:", debitedAccounts);
  });

  // Add event listener to debit input element
  debitInput.addEventListener("input", function(event) {
    var debitAmount = parseFloat(event.target.value);
    var rowIndex = Array.from(tableBody.children).indexOf(event.target.parentNode.parentNode);
    debitAmounts[rowIndex] = debitAmount;

    if (debitAmount === "" && creditAmounts[rowIndex] === undefined) {
      delete creditAmounts[rowIndex];
    }

    debitAmounts = debitAmounts.filter(function(amount) {
      return amount !== undefined;
    });
    creditAmounts = creditAmounts.filter(function(amount) {
      return amount !== undefined;
    });

    console.log("Debit amounts:", debitAmounts);
    console.log("Credit amounts:", creditAmounts);
  });

  // Set the selected account of the new row based on the previous debited account
  if (previousDebitedAccount !== null) {
    accountsSelect.value = previousDebitedAccount;
    debitedAccounts.push(previousDebitedAccount);
  }

  // Update the previous debited account
  previousDebitedAccount = accountsSelect.value;
}

function addCreditedAccount() {
  var tableBody = document.getElementById("credit");
  var newRow = document.createElement("tr");

  var deleteCell = document.createElement("td");
  var deleteButton = document.createElement("button");
  deleteButton.innerText = "Delete";
  deleteButton.addEventListener("click", function() {
    removeRow(this);
  });
  deleteCell.appendChild(deleteButton);
  newRow.appendChild(deleteCell);

  var accountsCell = document.createElement("td");
  var accountsSelect = document.createElement("select");
  accountsSelect.classList.add("account-select");
  accountsSelect.innerHTML = `<option value="" disabled selected>Select an Account to Credit</option>{% for x in Account %}<option value="{{x.pk}}">{{ x.AccountName }}</option>{% endfor %}`;
  accountsCell.appendChild(accountsSelect);
  newRow.appendChild(accountsCell);

  var debitCell = document.createElement("td");
  debitCell.innerHTML = "&nbsp;";
  newRow.appendChild(debitCell);

  var creditCell = document.createElement("td");
  var creditInput = document.createElement("input");
  creditInput.setAttribute("type", "text");
  creditInput.classList.add("credit-amount");
  creditCell.appendChild(creditInput);
  newRow.appendChild(creditCell);

  tableBody.appendChild(newRow);

  // Add event listener to account select element
  accountsSelect.addEventListener("change", function(event) {
    var selectedAccount = parseFloat(event.target.value);
    var rowIndex = Array.from(tableBody.children).indexOf(event.target.parentNode.parentNode);
    creditedAccounts[rowIndex] = selectedAccount;
    console.log("Credited Accounts:", creditedAccounts);
  });

  // Add event listener to credit input element
  creditInput.addEventListener("input", function(event) {
    var creditAmount = parseFloat(event.target.value);
    var rowIndex = Array.from(tableBody.children).indexOf(event.target.parentNode.parentNode);

    if (creditAmount !== "") {
      creditAmounts[rowIndex] = creditAmount;
    } else {
      delete creditAmounts[rowIndex];
    }

    creditAmounts = creditAmounts.filter(function(amount) {
      return amount !== undefined;
    });

    console.log("Credit amounts:", creditAmounts);
  });
}

function submitForm() {
  var debitedAccountsDict = {};
  var creditedAccountsDict = {};

  // Creating debitedAccounts dictionary
  for (var i = 0; i < debitedAccounts.length; i++) {
    debitedAccountsDict[debitedAccounts[i]] = parseFloat(debitAmounts[i] || 0);
  }

  // Creating creditedAccounts dictionary
  for (var i = 0; i < creditedAccounts.length; i++) {
    creditedAccountsDict[creditedAccounts[i]] = parseFloat(creditAmounts[i] || 0);
  }

  console.log("Debited Accounts:", debitedAccountsDict);
  console.log("Credited Accounts:", creditedAccountsDict);

  var jsonData = JSON.stringify({
    debitedAccounts: debitedAccountsDict,
    creditedAccounts: creditedAccountsDict,
  });
  document.getElementById('debitJSON').value = JSON.stringify({
    debitedAccounts: debitedAccountsDict
  });
  document.getElementById('creditJSON').value = JSON.stringify({
    creditedAccounts: creditedAccountsDict
  });
}

document.getElementById("addDebitedAccountBtn").addEventListener("click", addDebitedAccount);
document.getElementById("addCreditedAccountBtn").addEventListener("click", addCreditedAccount);
</script>
{% endblock %}
