{% extends 'CFO/Index.html' %}
{% load static %}

{% block title %}
<title>Journal Entry</title>
{% endblock %}

{% block content %}
<hr>
<button id="addDebitedAccountBtn" type="button">Add Debited Account</button>
<button id="addCreditedAccountBtn" type="button">Add Credited Account</button>
<!-- /* --------------------------------Input Accounts --------------------------------*/ -->
<form method="POST" action="{% url 'JournalEntry' %}">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>Delete</th>
                <th>Accounts</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody id="accountRows">
            <!-- Account rows will be dynamically added here -->
        </tbody>
    </table>
    <br>
    <button type="submit" onclick="submitForm()">Add Transaction</button>
</form>
<hr>
<!-- /* --------------------------------Journal Entries Display --------------------------------*/ -->
<table>
    <thead>
        <tr>
            <th>Journal ID</th>
            <th>Date</th>
            <th>General Journal</th>
            <th>Debit</th>
            <th>Credit</th>
        </tr>
    </thead>
    <tbody>
        <!-- Journal entry rows will be displayed here -->
    </tbody>
</table>
<!-- /* --------------------------------Journal Entries Display --------------------------------*/ -->

<script src="{% static 'js/JEscript' %}">
    
</script>

{% endblock %}
